.footer {
    padding: 40px 0;
    background: #FF6A00 url('../image/bg.jpg') center/cover;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.footer__container {
    display: grid;
    grid-template-columns: 360px max-content;
    /* grid-template-columns: repeat(2, max-content); */
    align-items: center;
    justify-content: space-between;
    gap: 16px 30px;
}

/* .footer__link {} */
.footer__link:hover {
    color: #ccc;
}

.footer__link-logo {
    grid-column: 1 / 2;
    grid-row: 1 /3;
}

/* .footer__logo {} */

.footer__developers-list {
    grid-column: 2 / 3;
}

.footer__developers-item {
    margin-bottom: 8px;
}

.footer__developers-item:last-child {
    margin-bottom: 0;
}

.footer__copyright {
    grid-column: 2 / 3;
}

@media (width <=1024px) {
    .footer {
        padding: 27px 0;
        font-size: 14px;
    }

    .footer__link-logo {
        max-width: 305px;
    }
}

@media (width <=768px) {
    .footer__container {
        grid-template-columns: 305px max-content;
    }
}

@media (width <=560px) {
    .footer {
        padding: 24px 0 32px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .footer__link-logo {
        max-width: 180px;
        margin-bottom: 24px;
        height: 24px;
    }

    .footer__developers-list {
        margin-bottom: 16px;
    }
}