/* .search {} */

/* .search__container {} */

.search__form {
    width: 100%;
    position: relative;
}

.search__input {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #FF9953;
    padding: 10px 124px 10px 24px;
    outline: none;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.search__input::placeholder {
    color: #292D32;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.search__btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8px 17px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: #FF6A00;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.search__icon {
    width: 20px;
    height: 20px;
    padding-left: 3px;
}

@media (width <=768px) {}